data.txt
/includes/data.txt
notes.md
adm_unused.php
experimentation.php
/admin/font-awesome/
/images
.DS_Store
/fonts/
/admin/fonts/
/admin/css/bootstrap.css
/admin/css/bootstrap-rtl.css
/admin/js/bootstrap.js
/admin/js/jquery.js
/admin/js/plugins/
/css/bootstrap.css
/fonts/
/images/
/js/jquery.js
/js/bootstrap.js
/.vscode/
